* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Gilroy", sans-serif;
}

body {
  min-height: 100vh;
  background-color: rgb(55, 37, 129);
  display: flex;
  justify-content: center;
  align-items: center;
}

.calculator {
  height: 530px;
  width: 350px;
  padding: 20px;
  background-color: rgb(190, 179, 179);
  border-radius: 15px;
  border: 3px solid #fff;
}

.calculator__screen {
  width: 100%;
  height: 90px;
  margin-bottom: 20px;
  background-color: rgb(175, 218, 175);
  border: none;
  border-radius: 10px;
  font-size: 30px;
  text-align: right;
  padding: 10px;
  color: #000;
}

.calculator__buttons {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 12px;
}

.btn {
  height: 65px;
  background-color: rgb(175, 218, 175);
  border: none;
  border-radius: 50%;
  font-size: 20px;
  cursor: pointer;
  color: #000;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.2s ease;
}

.btn:hover {
  opacity: 0.9;
}

.btn--operator,
.btn--equals {
  background-color: rgb(55, 37, 129);
  color: #fff;
}

/* .btn--zero {
  grid-column: span 2;
} */